:root{
    --primary: #A26337;
    --bg: #010103;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: white;
    /* min-height: 3000px; */
}

/* navbar */
.navbar{
    background-color: rgba(128, 128, 128, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 3%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo{
    font-size: 2rem;
    font-weight: 700;
    color: #F6F4F4;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: #FF7517;
}

.navbar .navbar-nav a{
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover{
    color: var(--primary);
}

.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.2rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scale(0);
    transition: 0.2s linear;  
}

.navbar .navbar-nav a:hover::after{
    transform: scale(0.8);
}

.navbar .nav-search a{
color: #fff;
margin: 0 0.5rem;
}

.navbar .nav-search a:hover{
    color: var(--primary);
}

#menu{
    display: none;
}

/* content */
.content {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../img/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: 1537px 740px;
    /* background-size: cover; */
    background-position: center;
    position: relative;

}

.content::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(1,1,3,1)8%, rgba(255,255,255,0)50%);
}

.content .main-content{
    padding: 1.4rem 7%;
    max-width: 50rem;
}

.content .main-content h1{
    font-size: 4rem;
    color: #fff;
    line-height: 1.1;
    text-shadow: 1px 1px 3px rgba(1,1,3,0.5);
}

.content .main-content p{
    color: #fff;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    line-height: 1,3rem;
    font-weight: 300;
    mix-blend-mode: difference;
}
.content .main-content a{
    font-size: 1.2rem;
    color: #fff;
    padding: 0.5rem 2rem;
    background-color: #FF7517;
    border-radius: 0.5rem;
}

/* shoping-chart start */
.shoping-cart{
    position: relative;
    overflow: hidden;
}
.shoping-cart::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: linear-gradient(0deg, rgba(255,255,255,0)1%, rgba(1,1,3,1)100%);

}
.shoping-cart {
    padding: 7rem 5% 7rem;
    background-image: url(../img/bg-3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.shoping-cart .row{
    display: flex;
    
    
}
.shoping-cart .col-1{
    flex: 1 1 40rem;
    background-color: #1F1F1F;
    border-radius: 2rem 0rem 0rem 2rem;
    border: 1px solid;
    border-color: var(--primary);
    /* opacity: 30%; */
}
.shoping-cart .col-1 .judul{
    padding-top: 0.5rem;
    text-align: center;
}
.shoping-cart .col-2{
    flex: 1 1 10rem;
    background-color: #121212;
    border-radius: 0rem 2rem 2rem 0rem;
    border: 1px solid;
    border-color: var(--primary);
}
.shoping-cart .cart-body{
    display: flex;
}
.shoping-cart .bil-1,.bil-3,.bil-4{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.shoping-cart .bil-2{
    flex: 1 1 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shoping-cart .bil-1{
padding-top: 1rem;
}
.shoping-cart .bil-1 img{
    width: 80%;
    height: 120px;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 2rem;
}

.shoping-cart .bil-5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shoping-cart .bil-5  {
    flex: 1;
    padding: 0 0.5rem;
}

.shoping-cart .bil-5 .min,
.shoping-cart .bil-5 .plus {
    text-align: center;
    margin: 0.5rem 0;
    padding: 0.5rem;
}

.shoping-cart .min button {
    font-size: 20rem;
    background-color: #af4c4c;
    color: #fff;
    border: none;
    padding: 0.5rem 0.9rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 2rem;
}

.shoping-cart .min button:hover {
    background-color: #8e3c3c;
}
.shoping-cart .plus button {
    background-color: #4caf57;
    color: #fff;
    border: none;
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 2rem;
}

.shoping-cart .plus button:hover {
    background-color: #397e41;
}

/* col-2 */
.shoping-cart .col-2 .judul{
    padding-top: 0.5rem;
    text-align: center;
}
.shoping-cart .col-2 .payment-details {
    padding: 3rem;
    align-items: center;
}


.shoping-cart .col-2 .subtotal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.shoping-cart .col-2 .pajak {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.shoping-cart .col-2 .diskon {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.shoping-cart .col-2 .total {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.2rem;
    padding-bottom: 3rem;
}

.shoping-cart .col-2 button {
    background-color: var(--primary);
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 0.5rem;
}

.shoping-cart .col-2 button:hover {
    background-color: #87491d;
}
/* col-2 */
/* shoping-chart end*/

footer {
    text-align: center;
    background-color: #000000;
    color: #fff;
    padding: 1.5rem 5% 1.5rem;
}


/* media Queris */
/* Laptop */
@media(max-width: 1366px){
    html{
        font-size: 75%;
    }
}
@media(max-width: 1024px){
    html{
        font-size: 75%;
    }
}

/* tablet */
@media(max-width: 768px){
    html{
        font-size: 62%;
    }
    #menu{
        display: inline-block;
    }
    .navbar .navbar-nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        height: 100vh;
        transition: 0.4s;
    }

    .navbar .navbar-nav.active{
        right: 0;
    }

    .navbar .navbar-nav a{
        color: #1F1F1F;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after{
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after{
        transform: scaleX(0.2);
    }

    .shoping-cart .row {
        flex-direction: column;
    }

    .shoping-cart .col-1,
    .shoping-cart .col-2 {
        flex: none;
        width: 100%;
        /* border-radius: 0rem 0rem 0rem 0rem; */
    }
    .shoping-cart .col-1 {
        border-radius: 2rem 2rem 0rem 0rem;
    }
    .shoping-cart .col-2 {
        border-radius: 0rem 0rem 2rem 2rem;
    }
}

/* mobile */
@media(max-width: 450px){
    html{
        font-size: 55%;
    }
}
